In [1]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')
print("ðŸ“Œ First 5 rows of dataset:")
df.head()

ðŸ“Œ First 5 rows of dataset:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [2]:
print("ðŸ“Œ Dataset Info:")
df.info()

ðŸ“Œ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
print("ðŸ“Œ Dataset Shape:")
df.shape

ðŸ“Œ Dataset Shape:

(8807, 12)

In [4]:
print("ðŸ“Œ Missing Values:")
df.isnull().sum()

ðŸ“Œ Missing Values:

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [5]:
print("ðŸ“Œ Movies vs TV Shows:")
df['type'].value_counts()

ðŸ“Œ Movies vs TV Shows:

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [6]:
print("ðŸ“Œ Top 5 Countries with Most Content:")
df['country'].value_counts().head(5)

ðŸ“Œ Top 5 Countries with Most Content:

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Name: count, dtype: int64

In [7]:
print("ðŸ“Œ Most Popular Genres:")
df['listed_in'].value_counts().head(10)

ðŸ“Œ Most Popular Genres:

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [8]:
print("ðŸ“Œ Year with Most Releases:")
df['release_year'].value_counts().head(5)

ðŸ“Œ Year with Most Releases:

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
Name: count, dtype: int64

In [9]:
movies = df[df['type'] == 'Movie']
movies['duration_mins'] = movies['duration'].str.replace(' min', '').astype(float)
movies[['title', 'duration_mins']].sort_values(by='duration_mins', ascending=False).head(1)

C:\Users\Yash\AppData\Local\Temp\ipykernel_24492\2512431515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['duration_mins'] = movies['duration'].str.replace(' min', '').astype(float)

                           title  duration_mins
4253  Black Mirror: Bandersnatch          312.0

In [10]:
print("ðŸ“Œ Most Frequent Directors:")
df['director'].value_counts().head(5)

ðŸ“Œ Most Frequent Directors:

director
Rajiv Chilaka             19
RaÃºl Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              16
Jay Karas                 14
Name: count, dtype: int64

In [11]:
cast_series = df['cast'].dropna().str.split(',').explode().str.strip()
print("ðŸ“Œ Most Frequent Actors:")
cast_series.value_counts().head(5)

ðŸ“Œ Most Frequent Actors:

cast
Anupam Kher         43
Shah Rukh Khan      35
Julie Tejwani       33
Takahiro Sakurai    32
Naseeruddin Shah    32
Name: count, dtype: int64